/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/bootstrap/cache/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/modules.iml
.idea/php.xml
/.idea
/.idea/
.idea/code-comments.xml
.idea/deployment.xml
.idea/laravel-plugin.xml
.idea/misc.xml
.idea/modules.iml
.idea/php.xml
.idea/phpunit.xml
.idea/symfony2.xml
.idea/code-comments.xml
.idea/deployment.xml
.idea/laravel-plugin.xml
.idea/misc.xml
.idea/modules.iml
.idea/php.xml
.idea/phpunit.xml
.idea/symfony2.xml
