/*
@page {
	size: 8.5in 11in;   <length>{1,2} | auto | portrait | landscape  
	        'em' 'ex' and % are not allowed; length values are width height 
	margin: 10%;  <any of the usual CSS values for margins> 
	             (% of page-box width for LR, of height for TB) 
	margin-header: 5mm;   <any of the usual CSS values for margins>  
	margin-footer: 5mm; <any of the usual CSS values for margins>  
	marks: ; //crop | cross | none
	header: html_myHTMLHeaderOdd;
	footer: html_myHTMLFooterOdd;
	background: ...
	background-image: ...
	background-position ...
	background-repeat ...
	background-color ...
	background-gradient: ...
}
*/

 
@page { 
		size: auto;
		header: page-header;
		footer: page-footer;
 		size: 8.5in 11in; 
		sheet-size: Letter;
        font-family: Helvetica;
        page-break-before: right;

}

@page page-intro {
        size: 8.5in 11in;
		sheet-size: Letter;
		margin-top: 2.5cm;
        font-family: Helvetica;
        page-break-before: right;
}

@page page-toc { 
		size: auto;
		header: page-header;
		footer: page-footer;
  		margin-top: 2.5cm;
        font-family: Helvetica;
        page-break-inside:avoid;
	 
}

@page page-noheader {
   		header: _blank;
        footer: _blank;
        size: 8.5in 11in;
		sheet-size: Letter;
        font-family: Helvetica;
        page-break-before: right;
}

@page page-cqr {
        size: 8.5in 11in;
		sheet-size: Letter;
		margin-top: 2.5cm;
        font-family: Helvetica;
        page-break-before: right;
        
}

@page page-cqrl {
        size: 8.5in 11in;
		sheet-size: Letter;
		margin-top: 2.5cm;
        font-family: Helvetica;
        page-break-before: right;
}

div.coverpage {
    page: page-noheader;
    
}

div.toc-page {
 	page: page-toc;
 
 
	 
}

div.combined-qr{
	page: page-cqr;
}

div.combined-qr-list {
	page: page-cqrl;
}

div.intro-page{
	page: page-intro;
}

