 
@page { 
		size: auto;
		frontpage: cover-page;
		header:page-header;
		footer: page-footer;
		content: page-content;
		sheet-size: Letter;
        font-family: Helvetica;

} 

@page qrcombined { 
		size: auto;
		header:page-header;
		footer:page-footer;
        font-family: Helvetica;
	 

} 

@page single-qr { 
	 	/*page-break-before: right;*/
		sheet-size: Letter;
		header:page-header;
		/*footer:page-footer;*/
		margin-top: 2.5cm;
        font-family: Helvetica;

}


 
@page cover-page {
   		header: _blank;
        footer: _blank;
        sheet-size: Letter;
        font-family: Helvetica;

}
 
@page noheader {
   		header: _blank;
        footer: _blank;
}

/*@page toc {  }*/



div.coverpage {
    /*page-break-before: right;*/
    page: cover-page;
}
 


 #cover-title {    	 
 
  font-family: Helvetica;
  font-weight: 900; 
  color: #ffffff;
 
}

div.singleqr{ 
	/*page-break-before: right;*/
	page: single-qr;
	header:page-header;
    font-family: Helvetica;

}


div.combinedqr{
	/*page-break-before: right;*/
	page: qrcombined;
	margin-top: 2rem;
    font-family: Helvetica;
}

div.page-toc {
    /*page-break-before: right;*/
    page: toc;
}

div.noheader {
    page-break-before: right;
    page: noheader;
}

h1#cover-title {font-family: Helvetica!important;color: #fff;font-weight:900; }
h1.helvetica {font-family: Helvetica!important;font-weight:900; }


text {
    font-family: Helvetica!important;
}